spring:
  datasource:
    url: jdbc:h2:mem:fastfood;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  sql:
    init:
      mode: always
      continue-on-error: true

# H2 console opcional
spring.h2.console.enabled: true
spring.h2.console.path: /h2-console
