spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fastfood
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update  # ou validate, none, create-drop conforme necessidade
      show-sql: true
      properties:
        hibernate:
          format_sql: true
      database-platform: org.hibernate.dialect.PostgreSQLDialect

    sql:
      init:
        mode: always  # garante que scripts data.sql/schema.sql sejam executados
        continue-on-error: truet



  sql:
    init:
      mode: always
      continue-on-error: true

# H2 console opcional
spring.h2.console.enabled: true
spring.h2.console.path: /h2-console

mercadopago:
  token: APP_USR-XXXXXXXXXXXXXXXXXXXXXXX
