version: '3.8'

services:

  db:
    image: postgres:15
    container_name: fastfood-db
    restart: always
    environment:
      POSTGRES_DB: fastfood
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./resources/db/init.sql:/docker-entrypoint-initdb.d/hamburgueria-carga-inicial.sql
    networks:
      - fastfood-net

  sonar:
    image: sonarqube:community
    container_name: sonar
    ports:
      - "9000:9000"
    networks:
      - fastfood-net

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: fastfood-app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/fastfood
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    networks:
      - fastfood-net

networks:
  fastfood-net:
    driver: bridge
